<div style="height: 20vh;"></div>
<footer id="footer" class="page-footer font-small primary">

  <!-- Copyright -->
  <div class="well text-center footer">Réalisation
    <a href="http://portfolio.planetcode.fr" style="text-decoration:none;">Jean-Eudes Nouaille-Degorce</a>
  </div>
  <!-- Copyright -->

</footer>
</body>
</html>